{%extends 'base.html'%}
{%block content%}
<title> Contact Us</title>
<div class="container contact-form" style="margin-top:150px;">
	<h1>Contact form</h1>
	<hr>

	<div class="row" style="border: 2px solid #7b7b7b;margin-top: 100p;">

       <div class="custom-color-contact col-md-5 col-sm-12 text-center">
           <i class="fas fa-user  fa-user-contact " style="margin-top:120px;margin-right:50px;"></i>
       </div>

       <div class="custom-contact-css col-md-6 col-sm-12">

         <div class="form-group">
         	<label>Your Name</label>
         	<input type="text" class="form-control">
         </div>

         <div class="form-group">
         	<label>Email</label>
         	<input type="text" class="form-control">
         </div>

         <div class="form-group">
         	<label>Massage</label>
         	<textarea  class="form-control" rows="7"></textarea>
         </div>

         <div class="form-group">
         	<button class="btn btn-primary btn-block">Send Message</button>
         </div>

       </div>

    </div></div>

{%endblock content%}

