{%load static%}


<div class="col-12 col-md-2 " style="background:url({%static 'images/slidebar.png'%});height:100vh;"> <i class="fa-solid fa-user"></i>

    <div class="list-group" id="MyTab" role="tablist">
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/"  ><i class="fa-solid fa-house"></i> Dashboard </a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/orders" ><i class="fa-solid fa-box-open"></i> Orders</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/profile_edit" ><i class="fa-solid fa-user-pen"></i> Edit Profile</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/change_pwd" ><i class="fa-solid fa-wrench"></i> Change Password</a>

        <a class="list-group-item list-group-item-action" data-toggle="list" href="/logout" ><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
  </div>
