{%extends 'dashboard-base.html'%}
{%load static%}

{%block content%}

 <div class="row" >
{%include 'dashboard-menu.html'%}
 <div class="tab-content col-9 " style="margin-top:60px;margin-left:30px;margin-right:20px">
<h3 class="default-style"> User Dashboard </h3><hr>

 <div class="row">
         <div class="col-3 ">
            <div class="card card-dashboard">
                <div class="row align-items-center"><div class="col"><i class="fa fa-user fa-3x"></i></div>
                   <div class="col"> Total Orders</h5>
                    <p class="card-text"> 20000 </p> </div> </div>
             </div></div>

      <div class="col-3">
            <div class="card card-dashboard">
                <div class="row align-items-center"><div class="col"><i class="fa fa-user fa-3x"></i></div>
                   <div class="col"> Total Orders</h5>
                    <p class="card-text"> 20000 </p> </div> </div>
             </div></div>

      <div class="col-3">
            <div class="card card-dashboard">
                <div class="row align-items-center"><div class="col"><i class="fa fa-user fa-3x"></i></div>
                   <div class="col"> Total Orders</h5>
                    <p class="card-text"> 20000 </p> </div> </div>
             </div></div>

     <div class="col-3">
            <div class="card card-dashboard">
                <div class="row align-items-center"><div class="col"><i class="fa fa-user fa-3x"></i></div>
                   <div class="col"> Total Orders</h5>
                    <p class="card-text"> 20000 </p> </div> </div>
             </div></div>
            </div>





     <p class="default-style" style="margin-top:30px">You recent orders (last 4)</p>
      <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Status</th>
      <th scope="col">Date Created</th>
      <th scope="col">Order Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for order in order_id_list%}

      <th scope="row">{{order.order_id}}</th>
      <td>{{order.order_status}}</td>
      <td>{{order.date_created}}</td>
      <td><a href="/dashboard/view_order/{{order.order_id}}"> View Order</a></td>
    </tr>
  {%endfor%}

  </tbody>
      </table>

</div>


{%endblock content%}