{%load static%}


<div class="col-2" style="background:url({%static 'images/slidebar.png'%})"> <i class="fa-solid fa-user"></i> <img src="/static/images/logo.png" style=" margin-bottom: 20px;margin-top: 26px;">

    <div class="list-group" id="MyTab" role="tablist">
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/"  ><i class="fa-solid fa-house"></i> Home</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/orders" ><i class="fa-solid fa-box-open"></i> Orders</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/profile_edit" ><i class="fa-solid fa-user-pen"></i> Edit Profile</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/logout" ><i class="fa-solid fa-wrench"></i> Logout</a>
    </div>
  </div>
