
{%extends 'base.html'%}
{%load static%}

{%block content%}

 <div class="row" >
{%include 'dashboard-menu.html'%}
 <div class="tab-content col-9 " style="margin-top:60px;margin-left:30px;margin-right:20px">

<h3 class="default-style"> Edit Account Information </h3><hr>
<p class="default-style">Please Fillup the form correctly. Incorect information can lead to account being lost.</p>

<div class="tab-panel fade {%if 'profile_edit' in request.path%} show{%endif%}" id="list-edit-profile" role="tabpanel" aria-labelledby="list-edit-profile">
      {%include 'messages.html' %}

    <p class="default-style register-infos text-left"><b>Edit your account Information</b></p>

      <div class="row">
          <form action="/dashboard/profile_edit" method="POST">
        {%csrf_token%}
   <div class="form-group ">
    <label for="first_name">First name</label>
    <input type="text" value="{{request.user.first_name}}" class="form-control" name="first_name" id="first_name" aria-describedby="FirstNameHelp" placeholder="Enter Your First Name" required>
  </div>
<div class="form-group">
    <label for="last_name">Last Name </label>
    <input type="text" value="{{request.user.last_name}}" class="form-control" name="last_name" id="last_name" aria-describedby="LastNameHelp" placeholder="Enter Your Last Name" required>
  </div>

    <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" value="{{request.user.email}}" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Your Email Address" required>
  </div>


 <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" value="{{request.user.phone}}" class="form-control" name="phone" id="phone" placeholder="Enter Your Phone Number" required>
  </div>

<button type="submit" class="btn btn-primary" style="margin-top:30px;">Update</button>
  </div>
          <p class="default-style register-infos text-left"><b>Change Password</b></p>
           <div class="form-group">
    <label for="phone">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="New Password" >
        <input type="password" class="form-control" name="verify_password" id="verify_password" placeholder="Confirm New Password">
        <button type="submit" class="btn btn-primary" style="margin-top:30px;">Submit Change</button>
  </div>




      </div>{%endblock content%}