{% extends 'base.html'%}

{%block content%}
{%load static%}
<title>Boihut - Buy Books Online</title>
<section class="background" style="background:url({%static 'images/background.png'%})">


</div>
<div clsss="hero">
<div class="container">
<div class="row" style="padding-bottom:40px">
<div class="col-6 p-0">
    <h1 class="boihut display-4">Buy Your <span class="boihut-favorite">Favorite</span> Books</h1>

  <p class="boihut hero-text">Buy your favorite books from our huge list of collection. You will get your product delivered to your doorsteps in 24 hours. </p>
  <p class="lead">
    <a class="btn btn-primary button-buy" href="/category/" role="button">Buy Now</a>
      <a class="btn btn-primary button-shop" href="/" role="button">Continue</a>
  </p>
</div>

<div class="col-4">
    <img src="{%static 'images/hero.png'%}"/>

</div>
</div></div>
</div>
</section>



    <hr class="align:center"/>

<div class="container ms-auto">
    <div class="row" style="margin-top:-90px;background:#FFFFFF;">
        <h3 class="text-front-page text-center pt-3">Books </h3>
    {%for book in books%}


         <div class="product-box col-md-2 col-sm-6">
             <a class="text-decoration-none" href="book/{{book.slug}}">
           <img class="product-img" src="{{book.image.url}}"/>
            <h3 class="book-title">{{book.title}} </h3>
            <p class="book-price"><b>৳ {{book.price}}</b></p>
            <button class="btn btn-custom"> Buy Now </button>



        </a></div>



{% endfor %}

</div>



</div>




{%endblock content%}