{%extends 'base.html'}
{%block content%}
<div id="container" class="d-flex justify-content-center align-items-center container">
            <div class="row">
    <form>
  <div class="container ms-center justify-content-center" style="margin-top:150px;">
  <div class="form-group">
    <label for="Email">Username</label>
    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter Your Username">
  </div>
  <div class="form-group ">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Your Pasword">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  </div> </form>
            </div>
</div>


{%endblock content%}