<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <p class="register-infos text-center"> Delivery Info </p>
  <div class="form-group col-md-6">
    <label for="street-address">Street Address</label>
    <input type="text" class="form-control" id="street-address" placeholder="Enter Street Address">
  </div>
<div class="form-group col-md-6">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" placeholder="Enter Your city ">
  </div>
      <div class="form-group col-md-6">
    <label for="division">Division</label>
    <input type="text" class="form-control" id="division" placeholder="Enter Your Division ">
  </div>
  <div class="form-group col-md-6">
    <label for="password">Country</label>
    <input type="text" class="form-control" id="country" placeholder="Enter Your Country">
  </div>
 <p class="register-infos text-center"> Payment Info </p>
  <p id="register-infos"> Total Tk: XYZ </p>
      <p class="register-infos"> Our Bkash Number: 0184XXXXXXXX</p>

  <div class="form-group col-md-6">
    <label for="bkash">Bkash Payment </label>
    <input type="text" class="form-control" id="bkash" placeholder="Your bkash number and Transaction Id">
  </div>
    <title>Title</title>
</head>
<body>

</body>
</html>